*{
    padding: 0;
    margin: 0;
  }

body {
    background-color:#3a3a3a;
}


header {
    font-family: arial;

}

.dws {
    background: #ffffff;
    width: 20%;
    height: 90px;
    margin-top: 0px;
    border-radius: 0px 0px 10px 0px;
}

.dws p {
    color: white;
    margin-left: 440%;
    margin-top: -20%;
    width: 60%;
    font-size: 20px;
}

.dws button {
    list-style-type: none;
margin-top: 0px;
 padding: 20px;
background: #ffffff;
width: 160px;
border: none;
font-size: 16pt;
    color:rgb(10, 10, 10);
}

.dws button:hover {

    color:#4778d3;
   
}


header .message {
  
    float: right;
}


.message button {
    font-family: arial;
    background: #3a3a3a;
    border: 5px solid #000000;
height: 60px;
width: 160px;
 
    color:#fcfcfc;
        
    margin-top: 10px;
    margin-right: 35px;
}

.message button:hover {
    background: #f5f8f6;
    border: 1px solid #020202;
    padding: 0px;
   font-size: 500;
    color:#000000
}



.disk h1 {
    color:white;
    font-size: 50px;
   margin-top: 80px;
   margin-left: 500px;
}

.disk2 {
    margin-left: -70px;
margin-top: 210px;
}

.disk2 h2 {
    margin: 100px;
font-size: 30px;
color:#f5f8f6
}

.disk2 button {
    position: relative;
    background: #797878;
    border: 5px solid #000207;
padding-top: 30px;
padding-left: 50px;
padding-bottom: 50px;
padding-right: 60px;
font-size: 30px;
    font-weight: 900;
    color:#fbfcff;

    margin-bottom:-110px;
    margin-left: 120px;
}

.disk2 button:hover {
    background: #6086cc;
    box-shadow: 0px 0px 4px 4px; 
}





.diargon img{
    margin-left: 950px;
    margin-top: -800px;
    height: 500px;
    width: 35%;
}

.diargon h1 {
   color: white;
   margin-left: 50px;
   margin-top: 100px;
   padding: 50px 110px 110px 110px;
   font-style: 16px;
}

.diargon h2 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    padding: 50px 110px 110px 110px;
    font-size: 36px;
 }

.diargon p {
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 50px;
    
}

.diargon2 img{
    margin-left: 950px;
    margin-top: -600px;
    
    width: 35%;
}

.diargon2 h1 {
   color: white;
   margin-left: 50px;
   margin-top: 100px;
   padding: 50px 110px 110px 110px;
   font-style: 16px;
}

.diargon2 h2 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    padding: 50px 110px 110px 110px;
    font-size: 36px;
 }

.diargon2 p {
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 50px;
    
}

.diargon3 img{
    margin-left: 950px;
    margin-top: -600px;
    
    width: 35%;
}

.diargon3 h1 {
   color: white;
   margin-left: 50px;
   margin-top: 100px;
   padding: 50px 110px 110px 110px;
   font-style: 16px;
}

.diargon3 h2 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    padding: 50px 110px 110px 110px;
    font-size: 36px;
 }

.diargon3 p {
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 50px;
    
}

.diargon4 img{
    margin-left: 950px;
    margin-top: -600px;
    
    width: 35%;
}

.diargon4 h1 {
   color: white;
   margin-left: 50px;
   margin-top: 100px;
   padding: 50px 110px 110px 110px;
   font-style: 16px;
}

.diargon4 h2 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    padding: 50px 110px 110px 110px;
    font-size: 36px;
 }

.diargon4 p {
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 50px;
    
}

.diargon5 img{
    margin-left: 950px;
    margin-top: -500px;
    height: 400px;
    width: 35%;
}

.diargon5 h1 {
   color: white;
   margin-left: 50px;
   margin-top: 100px;
   padding: 50px 110px 110px 110px;
   font-style: 16px;
}

.diargon5 h2 {
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    padding: 50px 110px 110px 110px;
    font-size: 36px;
 }

.diargon5 p {
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 50px;
    
}

.doc img {
    margin-left: 800px;
    margin-top: -240px;
    margin-bottom: 150px;
    width: 30%;
}

.doc h1 {
    color: white;
    margin-top: 50px;
   margin-left: 130px;
   font-style: 16px;
}

.doc p {
    color:#ffffff;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 50px;
}

.slide {
    width:900px;
    height:500px;
    border: 10px solid rgb(0, 0, 0);
    position: relative;
    text-align: center;
    margin-left: 500px;
    margin-top: -250px;
    border-radius: 18px;

}


.slide  input {
    display: none;
}

.slide  input + label {
    display: inline-block;
    width: 30px;
    height: 10px;
    border-radius: 18px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);
    margin-top: 200px;
    cursor:auto;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 50%;
left:0%;
    transition: background 0.8s ease-out 0s;
}

.slide  input + label:hover {
    background: rgba(46, 139, 194, 0.8);
}

.slide  input:checked + label {
    background: rgba(38, 139, 179, 0.8);
}

.slide  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
}

.slide  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slide img {
    width:900px;
    height:500px;
    border-radius: 18px;
}

.slide  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}


#block{
    background-color: red;
    opacity: 0.2;
    
  } 
  
.example h2 {
    margin-left: 700px;
    color:#fbfcff;
    font-size: 35px;
}

.cars {
background:#5c5c5c;
padding: 70px 70px 10px 0px;
border-radius: 10px;
box-shadow: 0px 0px 115px 110px rgb(219, 219, 219);
margin: 40px;
border: 2px solid #000207;
}


.credit button {
    background: #4778d3;
    border: 2px solid #000207;
padding: 60px;

font-size: 30px;
    font-weight: 900;
    color:#fbfcff;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.credit button:hover {
    background: #24c459;
    box-shadow: 0px 0px 4px 4px 
}

footer {
    background: #000000;
    margin-top: 500px;
    padding: 120px;
}

footer p {
    color: white;
    font-size: 30px;
}

.cost h1{
margin-left: 600px; 
    color:white;
    font-size: 50px;
}

.cost h3{
    margin-top: 20px;
    margin-left: 200px; 
        color:white;
        font-size: 30px;
    }

.con {
    margin: 300px;
}

    .con h1 {
        margin-top: -110px;
        margin-bottom: 50px;
        margin-left: 200px; 
        color:white;
        font-size: 30px;
    }
    .con h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 600px; 
            color:white;
            font-size: 30px;
        }

.easy {
    margin: 3%;
}

.easy h1{
color: whitesmoke;
margin-left: 20%;
font-size: 80px; 
}

.easy p {
    color: whitesmoke;
    margin-left: 25%;
    font-size: 50px; 
}

.you img{
    margin-left: 950px;
    margin-top: -300px;
    
    width: 35%;
}

.you h1 {
   color: white;
   margin-left: 50px;
   margin-top: 100px;
   padding: 50px 110px 110px 110px;
   font-size: 100px;
}



.you p {
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: 200px;
}

.esse h1{
    color:#ffffff;
    padding: 50px 110px 110px 410px;
    font-size: 100px;
}

.engine img {
    margin-left: 1050px;
    margin-top: -210px;
    
    width: 25%;
}

.engine h1 {
    color:#ffffff;
    margin-top: 50px;
   margin-left: 100px;
    font-size: 70px; 
}

.engine p {
    color:#ffffff;
margin-left: 100px;

    font-size: 40px; 
    
}

.akpp img {
    margin-left: 1050px;
    margin-top: 110px;
    
    width: 25%;
}

.akpp h1 {
    color:#ffffff;
    margin-top: -450px;
   margin-left: 100px;
    font-size: 70px; 
}

.akpp p {
    color:#ffffff;
margin-left: 100px;

    font-size: 40px; 
    
}

.dic img {
    margin-left: 1050px;
    margin-top: 310px;
    
    width: 25%;
}

.dic h1 {
    color:#ffffff;
    margin-top: -450px;
   margin-left: 100px;
    font-size: 70px; 
}

.dic p {
    color:#ffffff;
margin-left: 100px;

    font-size: 40px; 
    
}

.amort img {
    margin-left: 1050px;
    margin-top: 310px;
    
    width: 25%;
}

.amort h1 {
    color:#ffffff;
    margin-top: -450px;
   margin-left: 100px;
    font-size: 70px; 
}

.amort p {
    color:#ffffff;
margin-left: 100px;

    font-size: 40px; 
    
}

.rul img {
    margin-left: 1050px;
    margin-top: 310px;
    
    width: 25%;
}

.rul h1 {
    color:#ffffff;
    margin-top: -450px;
   margin-left: 100px;
    font-size: 70px; 
}

.rul p {
    color:#ffffff;
margin-left: 100px;

    font-size: 40px; 
    
}

.info2 h1 {
    color:#ffffff;
    padding: 350px 110px 110px 110px;
    font-size: 100px;
}

.ti img {
    margin-left: 1050px;
    margin-top: 110px;
    
    width: 25%;
}

.ti h1 {
    color:#ffffff;
    margin-top: -850px;
   margin-left: 100px;
    font-size: 70px; 
}

.ti p {
    color:#ffffff;
margin-left: 100px;
margin-top: -50px;
    font-size: 40px; 
    
}

.ti2 img {
    margin-left: 1050px;
    margin-top: 410px;
    
    width: 25%;
}

.ti2 h1 {
    color:#ffffff;
    margin-top: -750px;
  
    font-size: 70px; 
}

.ti2 p {
    color:#ffffff;
margin-left: 100px;
margin-top: -100px;
    font-size: 40px; 
    
}

.ti3 img {
    margin-left: 1050px;
    margin-top: 410px;
    
    width: 25%;
}

.ti3 h1 {
    color:#ffffff;
    margin-top: -750px;
  
    font-size: 70px; 
}

.ti3 p {
    color:#ffffff;
margin-left: 100px;
margin-top: -100px;
    font-size: 40px; 
    
}